
.body{
    color: oklch(.145 0 0) !important;
    font-family: "Poppins", sans-serif !important;
}
p{
    color: oklch(.708 0 0) !important;
}
.voilet{
   color: oklch(70.2% .183 293.541) !important;
}
.blue{
    color: oklch(70.7% .165 254.624) !important;
}
.green{
    color: oklch(77.7% .152 181.912) !important;
}

.margin-b{
    margin-bottom: 100px;
}

.padding-t{
    padding-top: 150px;
}

.nav-text{
    color: oklch(.145 0 0) !important;
}

.w-30{
    width: 35%;
}

.navbar{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgba(255, 255, 255, 0.884);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

/* <------------------------------ section 1 start ------------------------------> */

.about-btn{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40px;
    display: inline-block;
    padding: 8px 10px 0px 20px;
    background-color: color-mix(in oklab, oklch(60.6% .25 292.717) 5%, #00000000);
    border-color: color-mix(in oklab, oklch(60.6% .25 292.717) 10%,transparent);
}

.title h1{
    font-weight: 600;
}

.languages{
    transition: all 0.9s !important;
    background-color: color-mix(in oklab, white 5%, #00000000);
}
.languages:hover{
    scale: 1.1;
}

.btn-1{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.6s !important;
    background-color: rgba(0, 0, 0, 0.849) !important;
    color: white !important;
}
.btn-1:hover{
    scale: 1.1;
    background-color: rgba(37, 37, 37, 0.301) !important;
}


.services{
    transition: all 0.5s !important;
    background-color: color-mix(in oklab, white 5%, #00000000);
}
.services:hover{
    scale: 1.1;
}

.up{
   width: 60px; 
   width: 60px;
   text-align: center;
   position: fixed;
   right: 30px;
   bottom: 50px;
   background-color:  oklch(85.131% 0.08432 297.549) !important;
   transition: all 0.5s;
}
.up:hover{
    background-color: white !important;
}
/* <------------------------------ section 1 end ------------------------------> */





/* <------------------------------ about me start ------------------------------> */
.about-box{
    background-image: linear-gradient(321deg, rgba(255, 255, 255, 0.842), oklch(95.524% 0.02463 298.503 / 0.452),  oklch(98.386% 0.02225 186.802 / 0.712)) !important;
}
.drive-me-box{
    background-color: color-mix(in oklab, white 5%, #00000000);
}

.logo-bg{
   background-color: color-mix(in oklab, oklch(60.6% .25 292.717) 5%, #00000000);
}

.education-box{
    background-color: color-mix(in oklab, white 5%, #00000000);
}
/* <------------------------------ about me end ------------------------------> */





/* <------------------------------ projects start ------------------------------> */
.code-btn{
    /* border: 1px solid black !important; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
    background-color: rgb(207, 221, 226);
}
.project-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.project-box{
    transition:all 0.5s;
    overflow: hidden !important;
}
.project-box:hover{
    transform: translateY(-10px) !important;
}
/* <------------------------------ projects end ------------------------------> */





/* <------------------------------ contact start ------------------------------> */
.contact-box{
    background-image: linear-gradient(321deg,oklch(98.386% 0.02225 186.802 / 0.712), oklch(95.524% 0.02463 298.503 / 0.452),rgba(255, 255, 255, 0.884)) !important;
}
/* <------------------------------ contact end ------------------------------> */




/* <------------------------------ footer start ------------------------------> */
.footer-text{
    color: oklch(.708 0 0) !important;
}

.footer-text:hover{
    color: oklch(70.2% .183 293.541) !important;
}

.footer-icon{
    color: oklch(.708 0 0) !important;
}
.footer-icon:hover{
    color: oklch(70.2% .183 293.541) !important;
}
/* .footer-box{
    background-image: linear-gradient(321deg, rgb(250, 242, 242), oklch(95.524% 0.02463 298.503 / 0.548),  oklch(98.386% 0.02225 186.802 / 0.712)) !important;
    opacity: 0.9;
} */
/* <------------------------------ footer end ------------------------------> */