
.body{
    background-color: rgba(0, 0, 0, 0.932);
    color: white;
     font-family: "Poppins", sans-serif !important;
}
p{
    color: oklch(.708 0 0) !important;
}
.voilet{
   color: oklch(70.2% .183 293.541) !important;
}
.blue{
    color: oklch(70.7% .165 254.624) !important;
}
.green{
    color: oklch(77.7% .152 181.912) !important;
}

.margin-b{
    margin-bottom: 100px;
}

.padding-t{
    padding-top: 150px;
}

.nav-text{
    color: rgba(255, 255, 255, 0.822) !important;
}

.border-1{
    border-color: color-mix(in oklab, rgb(212, 43, 43) 100%);
}

.nav-bg{
    /* background-color: oklch(.145 0 0) !important; */
    background-color: color-mix(in oklab, black 60%,transparent) !important;
}


/* <------------------------------ section 1 start ------------------------------> */

.about-btn{
    border: 1px solid black;
    border-radius: 40px;
    display: inline-block;
    padding: 8px 10px 0px 20px;
    background-color: color-mix(in oklab, oklch(60.6% .25 292.717) 5%, #00000000);
    border-color: color-mix(in oklab, oklch(60.6% .25 292.717) 10%,transparent);
}

.title h1{
    font-weight: 600;
}

.languages{
    transition: all 0.9s !important;
    background-color: color-mix(in oklab, white 5%, #00000000);
}
.languages:hover{
    scale: 1.1;
}

.btn-1{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.6s !important;
    background-color: rgba(0, 0, 0, 0.849) !important;
    color: white !important;
}
.btn-1:hover{
    scale: 1.1;
    background-color: rgba(37, 37, 37, 0.301) !important;
}

.btn-2{
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    transition: all 0.6s !important;
    background-color: rgba(0, 0, 0, 0.849) !important;
    color: white !important;
}
.btn-2:hover{
    scale: 1.1;
    background-color: rgba(37, 37, 37, 0.301) !important;
}


.services{
    transition: all 0.5s !important;
    background-color: color-mix(in oklab, white 5%, #00000000);
}
.services:hover{
    scale: 1.1;
}

.p1:hover{
    color: oklch(70.2% .183 293.541) !important;
}

/* <------------------------------ section 1 end ------------------------------> */






/* <------------------------------ about me start ------------------------------> */

.drive-me-box{
    background-color: color-mix(in oklab, white 5%, #00000000);
}

.logo-bg{
   background-color: color-mix(in oklab, oklch(60.6% .25 292.717) 5%, #00000000);
}

.education-box{
    background-color: color-mix(in oklab, white 5%, #00000000);
}
/* <------------------------------ about me end ------------------------------> */






/* <------------------------------ projects start ------------------------------> */
.input-bg{
    background-color: color-mix(in oklab black 50%, #00000000) !important;
}
/* <------------------------------ projects end ------------------------------> */